*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Keystores & release certificates
*.jks
*.keystore
time_killer_release.jks
release.jks

# Secret & config files
*.json
google-services.json
